
.content {
	background-color: white;
	overflow: visible;
	font-size: 11px;
	height: 452px;
}

#home_banner{
	position: absolute;
	top: 0px;
	left: -48px;
	height: 0px;
	width: 100%;
	padding-right: 48px;
	overflow: hidden;
}

#home_banner img{
	opacity: 0;
	visibility: hidden;
	width: 1063px;
}

.horizontal_heading{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 8px;
	width: 100%;
	opacity: 0;
	visibility: hidden;
}

.horizontal{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 8px;
	width: 100%;
	opacity: 0;
	visibility: hidden;
}

.vertical{
	position: absolute;
	top: -8px;
	left: 0px;
	width: 18px;
	opacity: 0;
	visibility: hidden;
}

.home_grid_link img{
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	visibility: hidden;
	z-index: 6;
}

#vertical_offset{
	position: absolute; 
	top: 0px; 
	left: 0px; 
	width: 100%;
}

#home_CTMS_logo{
	position: relative;
	display: inline-block; 
	float: left;
	margin-left: -100%;
	opacity: 0;
	visibility: hidden;
	z-index: 5;
}

.home_text{
	position: relative;
	padding: 6px 12px;
	height: 60px;
	overflow-x: hidden; 
	overflow-y: scroll; 
	opacity: 0;
	visibility: hidden;
	font-size: 11px;
	line-height: 2.25em;
	z-index: 5;
	background-color: white;
	background-color: rgba(255,255,255,0.8);
}

.note { 
	position: absolute; 
	padding: 4px 10px 4px 10px;
	vertical-align: middle;
	z-index: 7;
	opacity: 0;
	visibility: hidden;
	border-radius: 3px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	font-size: 11px;
	font-weight: normal;
	line-height: 1.75em;
	text-align: center;
	white-space: nowrap;
	color: white; 
	background-color: rgb(7,28,50);
	background-color: rgba(7,28,50,0.75);
}

.note img {
	position: absolute;
	top: -15px;
	left: 0px;
	opacity: 0.75;
}

#note_left_tabs img {
	position: absolute;
	top: 0px;
	left: -15px;
}

